body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#titulo_navbar{
  color: orange;
}

#img_navbar{
  margin-left: 2rem;
  margin-right: 2rem;
}

#titulo_footer{
  color: whitesmoke;
}

.contenedor_general_catalogo{
  background-color: beige;
  padding-bottom: 3rem;
}

.contenedor_libro{
  margin-top: 2rem;
}

.titulo_catalogo{
  padding-top: 3rem;
  margin-left: -46rem;
  margin-bottom: 5rem;
}

.alinear-texto{
  text-align: left;
}